.wrapper__head {
  width: 600px;
  border: 2px solid red;
}

.wrapper__head__title {
  background-color: orange;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper__head__sub-title {
  font-size: 18px;
  font-weight: bold;
}

p #point {
  font-size: 25px;
  color: orange;
  text-decoration: underline;
}

hr {
  color: gray;
}

.wrapper__body {
  width: 600px;
  border: 2px solid blue;
}

#diary {
  background-color: beige;
  width: 400px;
  margin: 20px;
  font-weight: bold;
}

#content {
  width: 450px;
  margin-left: 20px;
}

.ball {
  color: red;
  font-weight: bold;
}

.fire {
  color: yellow;
  font-weight: bold;
}

.over {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: blue;
}

.date {
  width: 450px;
  text-align: right;
}
